<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadwal Pelajaran MTs Al Huda Reban</title>
    <style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

label,
select,
input[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
    </style>
</head>

<body>
    <h1>Jadwal Pelajaran MTs Al Huda Reban</h1>
    <h3>Tahun Pelajaran 2024/2025 - Semester 1</h3>
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Hari</th>
                <th>Waktu</th>
                <th>Jam Ke</th>
                <th>7a</th>
                <th>7b</th>
                <th>7c</th>
                <th>8a</th>
                <th>8b</th>
                <th>8c</th>
                <th>9a</th>
                <th>9b</th>
            </tr>
        </thead>
        <tbody>
            <!-- Jadwal Hari Senin -->
            <tr>
                <td rowspan="7">Senin</td>
                <td>07.00 - 07.40</td>
                <td>1</td>
                <td colspan="9">Upacara</td>
            </tr>
            <tr>
                <td>07.40 - 08.20</td>
                <td>2</td>
                <td>K1</td>
                <td>C7</td>
                <td>D11</td>
                <td>B15</td>
                <td>F7</td>
                <td>H12</td>
                <td>H12</td>
                <td>C7</td>
            </tr>
            <tr>
                <td>08.20 - 09.00</td>
                <td>3</td>
                <td>K1</td>
                <td>C7</td>
                <td>D11</td>
                <td>B15</td>
                <td>F7</td>
                <td>H12</td>
                <td>H12</td>
                <td>C7</td>
            </tr>
            <tr>
                <td>09.00 - 09.40</td>
                <td>4</td>
                <td>L9</td>
                <td>L12</td>
                <td>H12</td>
                <td>K8</td>
                <td>C7</td>
                <td>F9</td>
                <td>F9</td>
                <td>L9</td>
            </tr>
            <tr>
                <td>09.40 - 10.20</td>
                <td>5</td>
                <td>L9</td>
                <td>L12</td>
                <td>H12</td>
                <td>K8</td>
                <td>C7</td>
                <td>F9</td>
                <td>F9</td>
                <td>L9</td>
            </tr>
            <tr>
                <td>10.20 - 11.00</td>
                <td>6</td>
                <td>K8</td>
                <td>K1</td>
                <td>C7</td>
                <td>C9</td>
                <td>G15</td>
                <td>L6</td>
                <td>K7</td>
                <td>F9</td>
            </tr>
            <tr>
                <td>11.00 - 11.15</td>
                <td>ISTIRAHAT</td>
                <td colspan="10"></td>
            </tr>

            <!-- Jadwal Hari Selasa -->
            <tr>
                <td rowspan="6">Selasa</td>
                <td>07.00 - 07.40</td>
                <td>1</td>
                <td>K8</td>
                <td>K11</td>
                <td>G4</td>
                <td>E6</td>
                <td>C7</td>
                <td>D9</td>
                <td>G15</td>
                <td>C15</td>
            </tr>
            <tr>
                <td>07.40 - 08.20</td>
                <td>2</td>
                <td>K8</td>
                <td>K11</td>
                <td>G4</td>
                <td>E6</td>
                <td>C7</td>
                <td>D9</td>
                <td>G15</td>
                <td>C15</td>
            </tr>
            <tr>
                <td>08.20 - 09.00</td>
                <td>3</td>
                <td>L9</td>
                <td>L10</td>
                <td>H12</td>
                <td>K15</td>
                <td>F10</td>
                <td>C5</td>
                <td>E10</td>
                <td>G4</td>
            </tr>
            <tr>
                <td>09.00 - 09.40</td>
                <td>4</td>
                <td>L9</td>
                <td>L10</td>
                <td>H12</td>
                <td>K15</td>
                <td>F10</td>
                <td>C5</td>
                <td>E10</td>
                <td>G4</td>
            </tr>
            <tr>
                <td>09.40 - 10.20</td>
                <td>5</td>
                <td>C15</td>
                <td>C7</td>
                <td>E10</td>
                <td>H12</td>
                <td>G9</td>
                <td>E9</td>
                <td>D14</td>
                <td>C10</td>
            </tr>
            <tr>
                <td>10.20 - 11.00</td>
                <td>6</td>
                <td>C15</td>
                <td>C7</td>
                <td>E10</td>
                <td>H12</td>
                <td>G9</td>
                <td>E9</td>
                <td>D14</td>
                <td>C10</td>
            </tr>

            <!-- Jadwal Hari Rabu -->
            <tr>
                <td rowspan="6">Rabu</td>
                <td>07.00 - 07.40</td>
                <td>1</td>
                <td>C7</td>
                <td>C9</td>
                <td>F7</td>
                <td>F8</td>
                <td>H12</td>
                <td>H16</td>
                <td>K15</td>
                <td>C9</td>
            </tr>
            <tr>
                <td>07.40 - 08.20</td>
                <td>2</td>
                <td>C7</td>
                <td>C9</td>
                <td>F7</td>
                <td>F8</td>
                <td>H12</td>
                <td>H16</td>
                <td>K15</td>
                <td>C9</td>
            </tr>
            <tr>
                <td>08.20 - 09.00</td>
                <td>3</td>
                <td>G14</td>
                <td>E3</td>
                <td>K8</td>
                <td>G10</td>
                <td>H9</td>
                <td>L12</td>
                <td>G14</td>
                <td>D9</td>
            </tr>
            <tr>
                <td>09.00 - 09.40</td>
                <td>4</td>
                <td>G14</td>
                <td>E3</td>
                <td>K8</td>
                <td>G10</td>
                <td>H9</td>
                <td>L12</td>
                <td>G14</td>
                <td>D9</td>
            </tr>
            <tr>
                <td>09.40 - 10.20</td>
                <td>5</td>
                <td>K11</td>
                <td>F15</td>
                <td>H12</td>
                <td>E3</td>
                <td>K15</td>
                <td>L6</td>
                <td>K8</td>
                <td>K7</td>
            </tr>
            <tr>
                <td>10.20 - 11.00</td>
                <td>6</td>
                <td>K11</td>
                <td>F15</td>
                <td>H12</td>
                <td>E3</td>
                <td>K15</td>
                <td>L6</td>
                <td>K8</td>
                <td>K7</td>
            </tr>

            <!-- Jadwal Hari Kamis -->
            <tr>
                <td rowspan="6">Kamis</td>
                <td>07.00 - 07.40</td>
                <td>1</td>
                <td>H10</td>
                <td>C15</td>
                <td>G7</td>
                <td>E15</td>
                <td>F6</td>
                <td>H16</td>
                <td>D11</td>
                <td>L8</td>
            </tr>
            <tr>
                <td>07.40 - 08.20</td>
                <td>2</td>
                <td>H10</td>
                <td>C15</td>
                <td>G7</td>
                <td>E15</td>
                <td>F6</td>
                <td>H16</td>
                <td>D11</td>
                <td>L8</td>
            </tr>
            <tr>
                <td>08.20 - 09.00</td>
                <td>3</td>
                <td>E10</td>
                <td>E14</td>
                <td>K10</td>
                <td>H8</td>
                <td>L12</td>
                <td>E3</td>
                <td>K7</td>
                <td>K10</td>
            </tr>
            <tr>
                <td>09.00 - 09.40</td>
                <td>4</td>
                <td>E10</td>
                <td>E14</td>
                <td>K10</td>
                <td>H8</td>
                <td>L12</td>
                <td>E3</td>
                <td>K7</td>
                <td>K10</td>
            </tr>
            <tr>
                <td>09.40 - 10.20</td>
                <td>5</td>
                <td>C5</td>
                <td>K8</td>
                <td>K7</td>
                <td>K6</td>
                <td>G15</td>
                <td>H12</td>
                <td>E10</td>
                <td>G15</td>
            </tr>
            <tr>
                <td>10.20 - 11.00</td>
                <td>6</td>
                <td>C5</td>
                <td>K8</td>
                <td>K7</td>
                <td>K6</td>
                <td>G15</td>
                <td>H12</td>
                <td>E10</td>
                <td>G15</td>
            </tr>

            <!-- Jadwal Hari Jumat -->
            <tr>
                <td rowspan="6">Jumat</td>
                <td>07.00 - 07.40</td>
                <td>1</td>
                <td>K15</td>
                <td>H8</td>
                <td>E8</td>
                <td>H8</td>
                <td>F9</td>
                <td>E9</td>
                <td>D8</td>
                <td>G8</td>
            </tr>
            <tr>
                <td>07.40 - 08.20</td>
                <td>2</td>
                <td>K15</td>
                <td>H8</td>
                <td>E8</td>
                <td>H8</td>
                <td>F9</td>
                <td>E9</td>
                <td>D8</td>
                <td>G8</td>
            </tr>
            <tr>
                <td>08.20 - 09.00</td>
                <td>3</td>
                <td>H12</td>
                <td>L12</td>
                <td>G7</td>
                <td>H7</td>
                <td>H12</td>
                <td>K10</td>
                <td>K8</td>
                <td>G14</td>
            </tr>
            <tr>
                <td>09.00 - 09.40</td>
                <td>4</td>
                <td>H12</td>
                <td>L12</td>
                <td>G7</td>
                <td>H7</td>
                <td>H12</td>
                <td>K10</td>
                <td>K8</td>
                <td>G14</td>
            </tr>
            <tr>
                <td>09.40 - 10.20</td>
                <td>5</td>
                <td>E5</td>
                <td>H12</td>
                <td>G10</td>
                <td>G12</td>
                <td>C5</td>
                <td>G9</td>
                <td>G15</td>
                <td>K10</td>
            </tr>
            <tr>
                <td>10.20 - 11.00</td>
                <td>6</td>
                <td>E5</td>
                <td>H12</td>
                <td>G10</td>
                <td>G12</td>
                <td>C5</td>
                <td>G9</td>
                <td>G15</td>
                <td>K10</td>
            </tr>

            <!-- Jadwal Hari Sabtu -->
            <tr>
                <td rowspan="6">Sabtu</td>
                <td>07.00 - 07.40</td>
                <td>1</td>
                <td>F15</td>
                <td>H15</td>
                <td>K15</td>
                <td>G9</td>
                <td>E7</td>
                <td>G8</td>
                <td>D10</td>
                <td>H9</td>
            </tr>
            <tr>
                <td>07.40 - 08.20</td>
                <td>2</td>
                <td>F15</td>
                <td>H15</td>
                <td>K15</td>
                <td>G9</td>
                <td>E7</td>
                <td>G8</td>
                <td>D10</td>
                <td>H9</td>
            </tr>
            <tr>
                <td>08.20 - 09.00</td>
                <td>3</td>
                <td>G9</td>
                <td>G12</td>
                <td>H9</td>
                <td>H10</td>
                <td>H11</td>
                <td>F15</td>
                <td>K10</td>
                <td>K15</td>
            </tr>
            <tr>
                <td>09.00 - 09.40</td>
                <td>4</td>
                <td>G9</td>
                <td>G12</td>
                <td>H9</td>
                <td>H10</td>
                <td>H11</td>
                <td>F15</td>
                <td>K10</td>
                <td>K15</td>
            </tr>
            <tr>
                <td>09.40 - 10.20</td>
                <td>5</td>
                <td>K9</td>
                <td>L12</td>
                <td>E9</td>
                <td>E10</td>
                <td>C15</td>
                <td>G9</td>
                <td>K7</td>
                <td>F15</td>
            </tr>
            <tr>
                <td>10.20 - 11.00</td>
                <td>6</td>
                <td>K9</td>
                <td>L12</td>
                <td>E9</td>
                <td>E10</td>
                <td>C15</td>
                <td>G9</td>
                <td>K7</td>
                <td>F15</td>
            </tr>
        </tbody>
    </table>

    <!-- Keterangan Guru -->
    <h2>Kode Guru</h2>
    <ul>
        <li>K1: H. Jamar, S.Pd.I</li>
        <li>K8: H. Hurwiyati, S.Pd</li>
        <li>K11: Titik Eko Purwati, S.Pd</li>
        <li>K15: Biyanto, S.Pd</li>
        <li>L6: Ulinnuha, S.Pd.I</li>
        <li>L9: Purnadi, S.Pd.S</li>
        <li>L10: Nur Arifin, S.Pd.I</li>
        <li>F15: Riski Arofiyah, S.Pd</li>
    </ul>
    <h2>Kode Mapel</h2>
    <ul>
        <li>K1: Bahasa Indonesia</li>
        <li>K8: Matematika</li>
        <li>K11: IPA</li>
        <li>K15: IPS</li>
        <li>L6: Bahasa Inggris</li>
        <li>L9: Bahasa Daerah</li>
        <li>L10: Seni Budaya</li>
        <li>L12: PJOK</li>
        <li>G4: Keterampilan (Khot)</li>
        <li>G15: Tahfidz</li>
        <li>H12: Nahwu</li>
        <li>F7: Amaliyah Ibadah</li>
        <li>F9: Kitab Kuning</li>
    </ul>
</body>

</html>